body {
	margin: 0; 
	padding: 0; 
	font: normal 14px "lucida grande", verdana, arial, helvetica, sans-serif;
	line-height: 150%;
}

#container {
	width: 800px;
	margin: 10px auto; 
	padding: 0;
}

#header {
    width: 750px;
	margin: 0; 
	padding: 0px 25px 0px 25px;
}

#content {
	width: 515px;
	padding: 0px 25px 0px 25px;
	margin: 0;
	float: left;
}

#sidebar {
    padding-top: 20px;
	padding-bottom: 10px;
	width: 215px;
	margin-top:0px;
	margin-left:565px;
	padding-right:20px;
	padding-left:20px;
	line-height: 130%;
	font-size: 90%; 
}

code {
	font-size: 12px;	
}

a:link, a:visited { 
	color: #101010;
	text-decoration: none;
}

a:hover, a:active { 
	color: #505050;
	text-decoration: underline;
}

li {
	list-style:none;
	padding-left: 1em;
}

ul {
	padding:0;
	margin:0;
}

table {
	font-weight: bold;
}

.method {
	background:#eee;
	margin:20px 0;	
	padding:5px;
}
